.coin-container {
    display: flex;
    justify-content: center;
  }
  
  .coin-row {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #d7d7d7;
    width: 900px;
  }
  
  .coin {
    display: flex;
    align-items: center;
    padding-right: 24px;
  
    min-width: 300px;
  }
  
  .coin h1 {
    font-size: 16px;
    width: 150px;
  }
  
  .coin img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
  }
  
  .coin-symbol {
    text-transform: uppercase;
    color: rgb(248, 5, 252);
    height: 20px;
    width: 20px;
  }
  
  .coin-data {
    display: flex;
    text-align: right;
    justify-content: space-between;
    width: 100%;
  }
  
  .coin-price {
    width: 110px;
    color:aqua;
  }
  
  .coin-volume {
    width: 155px;
    color: rgb(234, 237, 27);
  }
  
  .coin-marketcap {
    width: 230px;
    color: rgb(7, 227, 247);
  }
  
  .coin-percent {
    width: 100px;
  }
  
  .red {
    color: #fe0505;
  }
  
  .green {
    color: #06f806;
  }